<ion-header>
    <ion-navbar color="light">

        <ion-title>Forum</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>

            </button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>


    <ion-row>
        <ion-col col-12 col-sm-10 col-md-12 col-lg-12 col-xl-7 align-self-center>
            <ion-row>
                <ion-col col-12>
                    <button class="new-theme-btn" ion-button title="Δημιουργία θέματος" color="light" (click)="goToCreteNewPostPage()">Ξεκινήστε ένα νέο θέμα</button>
                </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col col-12 align-self-center class="container">
            
            
                    <ion-row align-items-center class="main-container-header-wrapper">
                        <ion-col col-12 align-self-center>
                            <div class="main-container-header">Τοκετός</div>
                        </ion-col>
                    </ion-row>
                    <button ion-item no-lines class="mama" (click)="goToUserPost()">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content"> Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
            
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
            
            
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
            
            
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
            
            
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>
            
            
                    <button ion-item no-lines class="mama">
                        <ion-row justify-content-start>
            
                            <ion-col col-1 style="max-width:5%;">
                                <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                            </ion-col>
            
                            <ion-col col-9 col-sm-8 col-md-6 col-lg-6 col-xl-6 class="wrap-content section-title">
                                <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                            </ion-col>
            
                            <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                            </ion-col>
                            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="wrap-content">
                                <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                <div>Από kiki</div>
                                <div>πριν απο 1 ώρα</div>
                                <div class="post-number"> 422.797 αναρτήσεις</div>
                            </ion-col>
                        </ion-row>
                    </button>

                    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                        <ion-infinite-scroll-content>


                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>

                </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>


</ion-content>