login-page{

ion-label{
    color: #C7002E !important;
}
.ion-col-h2{ 
color:white;
text-align: center;
padding:0.4em;
margin:0px;
}

.gender-icons{
font-size: 6vh;
}

.h2-col{
    color:black;
    text-align: center;

}

.logo-icon{
margin:auto;
display: block;
height: 20vh;
}

.input-icons{
color:#C7002E;
margin-right:0px;
}


.female-icons{
font-size: 6vh;
text-align: right;
}

.ion-grid-login{
background-color:white;
padding: 0px !important;
}
}
