<ion-grid class="ion-grid-login">

        <ion-row style="margin-top:5%;">
                <ion-col col-12>
                    <ion-icon class="gender-icons" color="light" md="md-male"></ion-icon>
                </ion-col>
            </ion-row>
        
        <ion-row>
                <ion-col col-12>
                    <img class="logo-icon" src="assets/icon/pregnancy-logo.png">
                </ion-col>
            </ion-row>
        
        <ion-row>
                <ion-col col-12 class="h2-col">
                    <h2>eBabyComing!</h2>
                </ion-col>
            </ion-row>
        

    <ion-row>

        <ion-col col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10 align-self-center class="container">
            <ion-row class="header-col-wraper">
                <ion-col col-12>
                    <h5 class="ion-col-h2">Σύνδεθείτε στην εφαρμογή</h5>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <ion-item text-wrap>
                        <ion-label floating class="login-placeholder-field">
                            <ion-icon class="input-icons" md="md-contact"></ion-icon> Email</ion-label>
                        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                    <ion-item text-wrap>
                        <ion-label floating class="login-placeholder-field">
                            <ion-icon class="input-icons" md="md-key"></ion-icon>Κωδικός</ion-label>
                        <ion-input type="password" [(ngModel)]="user.password" (keyup.enter)="login(user)"></ion-input>

                    </ion-item>

                </ion-col>
            </ion-row>

            <ion-row justify-content-end wrap-reverse class="button-panel slideIn">
                <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3>
                    <button ion-button class="slider" block (click)="registerPage()">Εγγραφή</button>
                </ion-col>
                <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3>
                    <button ion-button class="slider" block  (click)="login(user)">Σύνδεση</button>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col col-12 class="female-icons">
            <ion-icon color="light" md="md-female"></ion-icon>
        </ion-col>
    </ion-row>

</ion-grid>