<ion-header>
    <ion-navbar color="light">

        <ion-title>Forum</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>

            </button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>


    <ion-row>
        <ion-col col-12 col-sm-10 col-md-12 col-lg-12 col-xl-7 align-self-center>

                <ion-row>
                        <ion-col col-12>
        
                            <h2>Η πεθερά μου θέλει να με διώξει</h2>
        
        
                        </ion-col>
                    </ion-row>
        

            <ion-row>
                <ion-col col-12>



                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>



                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col col-12>



                </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>


</ion-content>