<ion-header>
    <ion-navbar color="light">

        <ion-title>Εγγραφή</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>

        <ion-row>
            <ion-col col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 class="container register-form-container">


                <ion-row *ngIf="!successMessage">
                    <ion-col class="header-col-wraper">
                        <h5 class="ion-col-h2">Παρακαλώ συμπληρώστε τα παρακάτω στοιχεία:</h5>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Όνομα</ion-label>
                            <ion-input type="text" [(ngModel)]="user.name"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Επίθετο</ion-label>
                            <ion-input type="text" [(ngModel)]="user.surname"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Πόλη κατοικίας</ion-label>
                            <ion-input type="text" [(ngModel)]="user.residenceTown"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Email</ion-label>
                            <ion-input type="email" [(ngModel)]="user.email"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Κωδικός πρόσβασης</ion-label>
                            <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="!successMessage">
                    <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <ion-item text-wrap>
                            <ion-label floating class="login-placeholder-field">Επανάληψη κωδικού πρόσβασης</ion-label>
                            <ion-input type="password" [(ngModel)]="repassword"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="successMessage" class="slideIn">
                    <ion-col class="success-col">
                        <h4 class="successsMessage">Η εγγραφή σας έγινε επιτυχώς.</h4>
                        <hr>
                        <p class="success-text">Άμεσα θα σας αποσταλεί ένα email με έναν σύνδεσμο επιβεβαίωσης.Ανοίξτε το email και πατήστε επάνω
                            στον σύνδεσμο ώστε να επιβεβαιώσετε τον λογαριασμό σας.</p>
                    </ion-col>
                        <ion-col col-12>
                                <img class="logo-icon" src="assets/icon/pregnancy-logo.png">
                        </ion-col>
                </ion-row>

                <ion-row justify-content-end wrap-reverse class="button-panel slideIn">
                    <ion-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
                        <button ion-button class="slider" block (click)="cancel()">Ακύρωση</button>
                    </ion-col>
                    <ion-col *ngIf="!successMessage" col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
                        <button ion-button class="slider" block (click)="registration(user)">Υποβολή</button>
                    </ion-col>
                    <ion-col *ngIf="successMessage" col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
                        <button ion-button class="slider" block (click)="goToLoginPage()">Σύνδεση</button>
                    </ion-col>
                </ion-row>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>