register-page{
 
  ion-content{
    background-image: url("../assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
  } 
  ion-label{
    color: #C7002E !important;
} 

.register-form-container{
  position: absolute;
  top:5%;
  background-color: white;

}

.ion-col-h2{
  padding: 0.6em;
}

.success-text{
  color:#A4A09F;
  font-size: 1.2em;
}

.success-col{
  margin-top:3%;
  margin-bottom:5%;
}
.logo-icon{
 //float: right;
 display: block;
 margin:0 auto;

height: 10vh;
//position: absolute;
bottom: 0;
}


}

