<ion-tabs color="light">
  <ion-tab  [root]="tab1Root" tabTitle="Αρχική"  tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Προφίλ" tabIcon="md-person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Βάρος-Στατιστικά" tabIcon="md-stats"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Forum" tabIcon="md-chatbubbles"></ion-tab>
</ion-tabs>
