weight-chart{
    .radiolist-doc-form{
        display:inline;
        margin-right:2em; 
        vertical-align: top; 
      }


    .ion-item-alignment{
        padding-left: 0px ;  
      }

      .pregnancy-input-details {
        color: #C7002E !important;
      }

      .dropdown{
          width:50%;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(1) {
        background-color:  #C7002E;
        color :white;
    }

      

}