<ion-header>
  <ion-navbar color="light">

    <ion-title>Προφίλ</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row style="margin-top:3%;">
      <ion-col col-5 style="margin-top:1%;padding-right:1%">

        <ion-label  class="pregnancy-input-details" text-wrap>Επιλέξτε την τρέχουσα εβδομάδα εγκυοσύνης <span class="obligatory-span"> *</span></ion-label>
        <select class="dropdown" [(ngModel)]="userDetails.week">
          <option *ngFor="let week of weekList" value="{{week.id}}">{{week.week}}η εβδομάδα</option>
        </select>

        <ion-list radio-group [(ngModel)]="userDetails.twins">
          <ion-label text-wrap class="pregnancy-input-details">Κύηση Διδύμων<span class="obligatory-span"> *</span></ion-label>

          <ion-label class="radiolist-doc-form">
            <ion-radio color="light" value="true"></ion-radio>Ναι</ion-label>

          <ion-label class="radiolist-doc-form">
            <ion-radio color="light" value="false"></ion-radio>Όχι</ion-label>
        </ion-list>


        <ion-row>
          <ion-col>
            <ion-item class="ion-item-alignment">
              <ion-label  class="placeholder-text pregnancy-input-details" floating>Ύψος (σε cm) <span class="obligatory-span"> *</span></ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.height"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-item-alignment">
              <ion-label class="placeholder-text pregnancy-input-details" floating>Βάρος - Πριν την εγκυμοσύνη (σε Kg) <span class="obligatory-span"> *</span></ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.weightBefore"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="ion-item-alignment">
              <ion-label  class="placeholder-text pregnancy-input-details" floating>Τρέχον βάρος (σε Kg) <span class="obligatory-span"> *</span></ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.currentWeight"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-end wrap-reverse class="button-panel slideIn">
          <ion-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
            <button [disabled]="saveButton" class="slider" ion-button color="light" block (click)="saveUserBMI(userDetails)">Υποβολή</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <table>
              <tr>
                <th>Προ-εγκυμοσύνης BMI (kg/m2)</th>
                <th>Κατηγορία</th>
                <th>Συνολική άυξηση βάρους</th>
                <th>Συνολική άυξηση βάρους για κύηση διδύμων</th>
              </tr>
              <tr>
                <td> μικρότερο από 18.5</td>
                <td>Λιποβαρής </td>
                <td>12.7-18.1 kg</td>
                <td>16.8 - 24.5 kg </td>
              </tr>
              <tr>
                <td>18.5-24.9</td>
                <td>Φυσιολογικό Βάρος </td>
                <td>11.3 - 15.9 kg</td>
                <td>16.8-24.5 kg</td>
              </tr>
              <tr>
                <td>25.0-29.9 </td>
                <td>Υπέρβαρη</td>
                <td>6.8 - 11.3 kg</td>
                <td>14.1-22.7 kg</td>
              </tr>
              <tr>
                <td>μεγαλύτερο από 30.0</td>
                <td>Παχύσαρκη</td>
                <td>5.0-9.1 kg</td>
                <td>11.3-19.1 kg
                </td>
              </tr>

            </table>

          </ion-col>
        </ion-row>


      </ion-col>
      <ion-col col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-7 class="container">

        <canvas #weightChartCanvas></canvas>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>