<ion-header>
  <ion-navbar color="light">

    <ion-title>Προφίλ</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  
  <ion-row style="margin-top:3%;">
    <ion-col col-xs-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 class="container">

      <ion-list>

        <ion-row justify-content-center>
          <ion-col col-12 class="header-col-wraper">
            <h2 class="ion-col-h2">Επεξεργασία προφίλ</h2>
          </ion-col>
        </ion-row>

        <ion-row justify-content-end>
          <ion-col>
            <img id="myImg" class="profile-image" [src]="user.photo" (click)="openImage()">
          </ion-col>
        </ion-row>
        
        <ion-row justify-content-end class="buttom-image-row">
          <ion-col>
            <button ion-button class="button-image" title="Ανέβασε φωτογραφία" color="light" onclick="document.getElementById('fileUpload').click()">
              <ion-icon class="photo-upload-icon" md="md-images"></ion-icon>
            </button>
            <input type="file"  style="display:none;" id="fileUpload" (change)="uploadImage($event)"/>
          </ion-col>
        </ion-row>
      

        <ion-item>
          <ion-label class="placeholder-text" floating>Όνομα</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" (ngModelChange)="modelChanged()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="placeholder-text" floating>Επίθετο</ion-label>
          <ion-input type="text" [(ngModel)]="user.surname" (ngModelChange)="modelChanged()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="placeholder-text" floating>Πόλη κατοικίας</ion-label>
          <ion-input type="text" [(ngModel)]="user.residenceTown" (ngModelChange)="modelChanged()"></ion-input>
        </ion-item>


        <ion-item text-wrap>
          <ion-label class="placeholder-text" floating>Ημερομηνία σύλληψης</ion-label>
          <ion-datetime cancelText="Άκυρο" doneText="Υποβολή" class="button-date" displayFormat="DD/MMMM/YYYY" min="{{nineMonthBeforeDate}}"
            max="{{currentDate}}" [(ngModel)]="user.date" (ngModelChange)="modelChanged()"></ion-datetime>
        </ion-item>

        <!-- <ion-item>
          <ion-label class="placeholder-text" floating>Email</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" (ngModelChange)="modelChanged()"></ion-input>
        </ion-item> -->

        <ion-row>
          <ion-col *ngIf="!changePasswordVisibility" style="margin-top:2.5em" col-12>
            <a class="change-password-link" id="changePasswordLink"  (click)="changePassword()">Αλλαγή κωδικού</a>
          </ion-col>

          <ng-container *ngIf="changePasswordVisibility">
            <ion-col class="slideIn" col-12>
              <button style="float:right; background-color:transparent" (click)="closeChangePasswordForm()">
                <ion-icon style="color:black" md="md-close"></ion-icon>
              </button>
            </ion-col>

            <ion-item class="slideIn">
              <ion-label class="placeholder-text" floating>Τρέχον κωδικός</ion-label>
              <ion-input type="password" [(ngModel)]="user.password" (ngModelChange)="passwordModelChangeValidation()"></ion-input>
            </ion-item>

            <ion-item class="slideIn">
              <ion-label class="placeholder-text" floating>Νέος κωδικός</ion-label>
              <ion-input type="password" [(ngModel)]="user.newPassword" (ngModelChange)="passwordModelChangeValidation()"></ion-input>
            </ion-item>

            <ion-item class="slideIn">
              <ion-label class="placeholder-text" floating>Επανάληψη νέου κωδικού</ion-label>
              <ion-input type="password" [(ngModel)]="repassword" (ngModelChange)="passwordModelChangeValidation()"></ion-input>
            </ion-item>
          </ng-container>
        </ion-row>

      </ion-list>

      <ion-row justify-content-end wrap-reverse class="button-panel slideIn">
        <ion-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2>
          <button [disabled]="saveButton" class="slider" ion-button color="light" block (click)="update(user)">Αποθήκευση</button>
        </ion-col>
      </ion-row>


      
      <ion-row justify-content-start>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>

              <!-- The Modal -->
              <div id="myModal" class="modal">

                  <!-- The Close Button -->
                  <span class="close">&times;</span>

                  <!-- Modal Content (The Image) -->
                  <img class="modal-content" id="img01">

                  <!-- Modal Caption (Image Text) -->
                  <div id="caption"></div>
              </div>
          </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>