profile-page {

.save-profile-button{
    height: 2.2em;
}

.successsMessage{
    color:green;
}
ion-label{
    color: #C7002E !important;
    
}

.change-password-link{
  color: #C7002E;
  text-decoration: underline;
}

.change-password-link:hover{
 cursor: pointer;
}

 .container{
    box-shadow: 4px 0px 8px -4px rgba(0, 0, 0, 0.2), 4px 0px 8px -4px rgba(0, 0, 0, 0.2), -4px 0px 8px -4px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(255, 255, 255, 255);
  }

  .ion-col-h2{
    padding: 0.3em;
  }

  .profile-image{
    height: 7em;
    width:6em;
    margin-top:1em;
    margin-right: 2em;
    float:right;
    border-radius: 50% !important;
  }

  .photo-upload-icon{
    color:white;
    font-size: 1.5em;
  }

  .button-image{
      padding:0.6em;
      float:right;
      border-radius: 50%;
      left:-1em;
  }

  .buttom-image-row{
    margin-top:-3.5em;
  }

  .image-div-container{
    float: right;
  }

  #photoCanvas{
    height: 15em;
    width:15em;
    border-radius: 50%;
  }




 
  

}
