page-home {

ion-content{
    text-align: center;
}

ion-label{
    color:#C7002E !important;
}

.date-icon{
    color:#C7002E;
    font-size: 6em;
}

.date-place-holder{
    font-size: 0.8em;
    color:#C7002E;
}

.calendar-week-icon{
  color:#C7002E;
  height:1.3em;
  vertical-align:-3px;
}

.calendar-bird-icon{
  color:#C7002E;
  height:1.8em;
  vertical-align: middle;
}

.birthday-info{
    margin-top:10px; 
    margin-bottom:-5px;
    text-align:left;
}

.calendar-info{
    margin-top:-3px; 
    margin-bottom:-3px;
    text-align:left;
}

.info-icon{
  color:#C7002E;
  font-size: 1.6em;
  margin-right: 5px;
  float:left;
}

.paragraph-info-icon{
    text-align: left;
    margin-top:4px;
  
}

.info-icons{
    margin-bottom: -15px;
    margin-top: -3px;
}


  .container{
    box-shadow: 0 4px 0px 0px #ffffff, 0 -4px 0px 0px #ffffff, 4px 0 8px -4px rgba(0, 0, 0, 0.2), -4px 0 8px -4px rgba(0, 0, 0, 0.2);
    height: 100% !important;
  }

.ion-col-h2{
font-size: 1.1em;
font-weight: bold;
}

.item-col-wraper{
//  border-radius: 3px;
//  box-shadow: 0 2px 3px #aaa;
}
.header-col-wraper{

  /*border removed*/
  padding:1%;
  //border-radius: 3px;

}








}
