<ion-header>
    <ion-navbar color="light">

        <ion-title>Αρχική Σελίδα</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>

            </button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding style="height:100% !important;">
    <div  style="height:100% !important;" class="container">
        <ion-row  style="height:100% !important;">

            <ion-col col-8>

                <ion-grid *ngIf="dateForm">
                    <ion-row>
                        <ion-col class="login-grid" col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6>

                            <ion-row>
                                <ion-col col-12>
                                    <ion-icon style="font-size:8em; margin-top:0.5em;" color="light" md="md-calendar"></ion-icon>

                                </ion-col>
                            </ion-row>

                            <ion-row class="input-row">
                                <ion-col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                                    <ion-item text-wrap>
                                        <ion-label class="date-place-holder" floating>Πληκτρολογίστε την ημερομηνία σύλληψής σας</ion-label>
                                        <ion-datetime cancelText="Άκυρο" doneText="Υποβολή" class="button-date" max="{{currentDate}}" min="{{nineMonthBeforeDate}}"
                                            [(ngModel)]="date"></ion-datetime>
                                    </ion-item>
                                </ion-col>
                            </ion-row>

                            <div *ngIf="validDate" class="failedsMessage">Παρακαλώ πληκτρολογήστε μία έγκυρη ημερομηνία</div>

                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="button-layout" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                            <button ion-button color="light" block (click)="saveDate(date)">Υποβολή</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-row class="header-col-wraper" *ngIf="!dateForm">
                    <ion-col col-12>
                        <h2 class="ion-col-h2">Κύκλος Εγκυμοσύνης</h2>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="spinner">
                    <ion-col col-12>
                        <button style="background-color:transparent;" (click)="getGynecologicalTestListPage()">
                            <canvas id="canvas" class="wheel"></canvas>
                        </button>
                    </ion-col>
                </ion-row>
                <hr>
                <div class="item-col-wraper" *ngIf="!dateForm">

                    <ion-row class="info-icons birthday-info">
                        <ion-col col-12>
                            <ion-icon class="info-icon" md="md-information-circle"></ion-icon>
                            <p class="paragraph-info-icon">Πατήστε τον τροχό για περισσότερα</p>
                        </ion-col>

                    </ion-row>
                    <hr>
                    <ion-row justify-content-start class="birthday-info">

                        <ion-col col-12>
                            <img class="calendar-bird-icon" src="assets/icon/bird.png"> Πιθανή ημερομηνία γέννησής: {{dateFormat}}
                        </ion-col>
                    </ion-row>
                    <hr>
                    <ion-row class="calendar-info">
                        <ion-col col-12>
                            <img class="calendar-week-icon" src="assets/icon/annual-calendar-symbol.svg"> {{weeks}}η εβδομάδα εγκυμοσύνης
                        </ion-col>

                    </ion-row>
                    <hr>
                </div>

            </ion-col>

            <ion-col col-3>
                <iframe  class="banner" src="https://www.powr.io/plugins/media-gallery/view?unique_label=7f040595_1529260528&external_type=iframe" width="100%"  frameborder="0"></iframe>
            </ion-col>
        
        </ion-row>
    </div>
</ion-content>
