.div-item{
    overflow: hidden;
    text-overflow:ellipsis !important;
}

.container{
    box-shadow: 4px 0px 8px -4px rgba(0, 0, 0, 0.2), 4px 0px 8px -4px rgba(0, 0, 0, 0.2), -4px 0px 8px -4px rgba(0, 0, 0, 0.2), 0px 2px 8px 0px rgba(0, 0, 255, 0.2);
  }