<ion-header >
  <ion-navbar color="light">
    <ion-title>Λίστα Αποτελεσμάτων</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">

        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- 
<ion-list-header style="text-transform:none; font-size:1.1em;">
  Εξετάσεις επόμενων εβδομάδων
</ion-list-header> -->
<div class="container">
<ion-row style="margin-top:4%;">
 <ion-col col-12 class="header-col-wraper" >
                    <h2 class="ion-col-h2" style="padding:2%;">Εξετάσεις επόμενων εβδομάδων:</h2>
  </ion-col>

</ion-row>

<ion-list>
    <button ion-item *ngFor="let tests of testList;" (click)="goToExaminationResultPage(tests.week)">
       <div class="div-item">Πληροφορίες {{tests.week}} ης εβδομάδας</div>
       <div class="div-item">Εξετάσεις : {{tests.test}}</div>

    </button>

</ion-list>
</div>

</ion-content>