// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// @font-face {
// font-family: 'SerifReg';
// font-family: 'SerifReg';
//  src: url("assets/fonts/DroidSerif-Regular.ttf") format("ttf");
// }

/* Change the white to any color ;) */


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

 ion-nav{
     font-family:  "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

 .container{
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), 4px 4px 8px -4px rgba(0, 0, 0, 0.2), -4px 4px 8px -4px rgba(0, 0, 0, 0.2), -4px 4px 8px -4px rgba(0, 0, 0, 0.2);
  }
button{
text-transform: none !important;
}
.title-elem{
   color:white !important;
   font-size: 13.4px;
   text-align: right;
}

.picker-toolbar-button button{
color:#C7002E !important;
}
.picker-opt {
color: #444444 !important;
}

h6{
    color: #C7002E;
}

h5{
    color: #C7002E;
}

h4{
    color: #444444;
}



.calendar-icon{
margin-top:3em;
width:6em;
}



.ion-col-h2{
    color:white;
    text-align: center;
    // /font-size: 1.1em;
    margin:0px;
}



.down-col{
    margin-top:0.5em;
}

.button-row{
 margin-top:3vh;
}

.input-row{
    margin-top:3vh;
}   

.successsMessage{
    color:green;
    text-align: left;
    font-weight: 1.4em;
}


.login-placeholder-field{
    color:#C7002E;
}


.button-layout{
 margin-top: 1.5em;
}


ion-row{
    justify-content: center
}

.obligatory-span{
    color:#d91b5c;
}

.placeholder-text{
    color :#C7002E;
    font-size: 0.9em;
}

/* Button css
*buttons css classes at the bottom of each page
*/
.button-panel {
    margin-top: 30px;
    padding-top: 12px;
    border-top: 4px solid #C7002E;
    text-align: right;
}

.slider{
    text-transform: none !important;
    background-color: #C7002E !important;
}

.slider:hover{
    background-color: #C7002E !important;
}

.slideIn {
    animation: 0.5s ease-out 0s 1 slideDown;
}

@keyframes slideDown {
    0% {
        transform: translateX(0%);
    }
    0% {
        transform: translateY(50%);
    }
}


.banner{
    z-index:100000000000000000000000000000000000000000;
    height: 150%;
    position: inherit;
}


//End of Button css
.failedsMessage{
    color:red;
    text-align: center;
}

.header-col-wraper{
  margin:0px !important;
  background-color: #C7002E;
  border-radius: 3px;
  box-shadow: 0 2px 3px #aaa;
 -webkit-box-shadow: 0 2px 3px #aaa;
 -moz-box-shadow: 0 2px 3px #aaa;
}



 /* Style the Image Used to Trigger the Modal */
 #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .imgContainer{
      display:inline-block;
      width:auto;
      padding-right: 0.5em;
  }
  .delete {
    float: right;
    position: relative;
    margin-left: -2.5em;
    //margin-right: 1em;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    top:-5px;
  }

  
  .delete:hover,
  .delete:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
  }






 @media all and (max-width: 800px) 
 {
  .wheel
    {
    width:25em;
    }
 }


  @media all and (max-width: 450px) 
  {
    .wheel
    {
     width:100%;

    }

    

}


