examination-result{

  .result-row{
    border-top: 0.5px solid #D0D0D0;
    padding-top:10px;
    padding-left:9px; 
    padding-right:4px; 
  }  

  h2{
      text-align: left !important;
  }

 .pacifier-img{
    float:right;
    height: 3em;
    width:3em;
  }

  .stroller-img{
    float:left;
    height: 3em;
    width:3em;
  }

  .video-frame{
    margin-top:10px;
    width:100%;
  }

  ion-row{
    margin-top:2%;
    margin-bottom: 2%;
  }


 



}