<ion-header >
  <ion-navbar color="light">
    <ion-title>Πληροφορίες</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
         <p class="title-elem"> {{user?.email}} </p>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid >
  <br><br><br>
<div class="container">


<ion-row style="margin-top:0px !important;">
 <ion-col col-12 class="header-col-wraper">
        <h4 class="ion-col-h2" style="padding:2%;">{{examinationInfo?.week}}η εβδομάδα</h4>
  </ion-col>
</ion-row>

    <ion-row>
    <ion-col col-6 >
        <img class="stroller-img"  src="assets/icon/baby-stroller-outline-of-side-view.png">
    </ion-col>

      <ion-col col-6 >
        <img class="pacifier-img"  src="assets/icon/baby-pacifier-outline.png">
    </ion-col>
</ion-row>


  <ion-row>
 <ion-col col-12 class="header-col-wraper" >
        <h2 class="ion-col-h2"> Εξετάση:</h2>
  </ion-col>
      <div class="result-row">  {{examinationInfo?.test}} </div>
</ion-row>


<ion-row>
 <ion-col col-12 class="header-col-wraper" >
        <h2 class="ion-col-h2">Εξετάσεις που πρέπει να κάνετε:</h2>
  </ion-col>
      <div class="result-row">  {{examinationInfo?.testDetails}} </div>
</ion-row>


  <ion-row>
 <ion-col col-12 class="header-col-wraper" >
        <h2 class="ion-col-h2">Σχετικά με εσάς:  </h2>
  </ion-col>
      <div class="result-row"> {{examinationInfo?.yourselfInfo}}</div>
</ion-row>



  <ion-row > 
        <ion-col col-12 class="header-col-wraper">
            <h2 class="ion-col-h2">Σχετικά με το μωρό σας: </h2>
    </ion-col>
          <div class="result-row">{{examinationInfo?.yourbabyInfo}}</div>
  </ion-row>


    <ion-row>
        <ion-col col-12 class="header-col-wraper">
            <h2 class="ion-col-h2">Πως είναι το μωρό σας:</h2>
        </ion-col>
          <ion-col col-12>
            <p *ngIf="videoAvailable">Δεν υπάρχει κάποιο διαθέσιμο βίντεο για την συγκεκριμένη εβδομάδα εγκυμοσύνης.</p>
            <iframe *ngIf="!videoAvailable" class="video-frame" [src]=videoUrl frameborder="0" allowfullscreen></iframe>
          </ion-col>

        
</ion-row>
</div>
</ion-grid>
</ion-content>