create-new-post{
.editor-container{
// width:60%;
margin: auto;
}

.label-text{
    color: #C7002E !important;
}

.post-title{
    margin-bottom: 1.5em;
}


.image-forum{
   // margin-right: 0em;
}

img{
    cursor: pointer;
   }
   

}


