<ion-header>
    <ion-navbar color="light">

        <ion-title>Create new post</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>

            </button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>




    <ion-grid class="editor-container">

        <ion-row>
            <ion-col col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6>

        

            <ion-row justify-content-start class="post-title">
                <ion-col>
                   <h2>Κάντε μια νέα ερώτηση...</h2>
             </ion-col>
        </ion-row>
        
        
        <ion-row justify-content-start class="post-title">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5>
                <ion-item text-wrap>
                    <ion-label floating class="login-placeholder-field label-text">Τίτλος</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row class="editor">
            <ion-col col-12>
                <text-editor [formControlItem]="item" placeholderText="Γράψτε κάτι..."></text-editor>
            </ion-col>
        </ion-row>

        <ion-row justify-content-end class="buttom-image-row">
            <ion-col col-12>
            <div>Ανεβάστε φωτογραφίες εως {{size}}ΜΒ</div>  
            <button ion-button class="button-image" title="Ανεβάστε φωτογραφία" color="light" onclick="document.getElementById('fileUpload').click()">
                <ion-icon class="photo-upload-icon" md="md-images"></ion-icon>
              </button>
              <input type="file"  style="display:none;" id="fileUpload" (change)="uploadImage($event)"/>
            </ion-col>

            <ion-col col-12>
                <!-- The Close Button -->
            <div class="imgContainer" *ngFor="let image of imageArray; let i = index">
                <span class="delete" (click)="removeImage(image.id)">&times;</span>
                <img id="{{image.id}}" name="thubnail" class="image-forum" width="{{image.width}}" height="{{image.height}}" src="{{image.src}}" (click)="openImage(image.id)">
            </div>
            </ion-col>
          </ion-row>
          
        <ion-row justify-content-end wrap-reverse class="button-panel slideIn submit-btn">
            <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3>
                <button ion-button class="slider">Υποβολή ερώτησης</button>
            </ion-col>
        </ion-row>



    <ion-row justify-content-start>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6>

            <!-- The Modal -->
            <div id="forumModal" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="forumImage">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </ion-col>
    </ion-row>

</ion-col>
</ion-row>

    </ion-grid>

</ion-content>