<ion-header>
    <ion-navbar color="light">
        <ion-title>Καλώς Ήρθατε</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="row-container">
        <ion-row class="row-container">
            <ion-col col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 class="hide-row">
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 class="login-col-container">
                <login-page></login-page>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>