welcome-page{

ion-content{
    background-image: url("../assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg");
    background-repeat: no-repeat;
    padding: 0px !important;
    background-position: center; 
    background-size: 100% 100%;
}



.login-col-container{
    height: 100% ;
    background-color: white;
    padding: 0px;
}



  ion-grid{
      margin:0px !important;
  }


  .row-container{
    height: 100%;
    padding: 0px;
  }


  @media all and (max-width: 768px) 
  {
   .hide-row
     {
     display: none;
     }
  }
 

  

}