<ion-header>
    <ion-navbar color="light">

        <ion-title>Forum</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="logout()">
                <ion-icon name="exit"></ion-icon>

            </button>

        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>


    <ion-row>
        <ion-col col-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 align-self-center>
            <ion-row>
                <ion-col col-12>
                    <button class="new-theme-btn" ion-button title="Δημιουργία θέματος" color="light" (click)="goToCreteNewPostPage()">Ξεκινήστε ένα νέο θέμα</button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 align-self-center class="container">


                    <ion-row align-items-center class="main-container-header-wrapper">
                        <ion-col col-12 align-self-center>
                            <div class="main-container-header">Κοινότητα mamaBook</div>
                        </ion-col>
                    </ion-row>

                        <!-- section 1 -->
                    <ion-row>
                        <ion-col col-12 class="section-container">
                            <ion-col col-12 align-self-center>
                                <div class="section-header">ΓΕΝΙΚΑ</div>
                            </ion-col>

                            <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                <ion-row justify-content-start>

                                    <ion-col col-1 style="max-width:5%;">
                                        <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                    </ion-col>

                                    <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                        <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                    </ion-col>

                                    <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                        <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                        <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                        <div>Από kiki</div>
                                        <div>πριν απο 1 ώρα</div>
                                        <div class="post-number"> 422.797 αναρτήσεις</div>
                                    </ion-col>
                                </ion-row>
                            </button>
                            <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                <ion-row justify-content-start>

                                    <ion-col col-1 style="max-width:5%;">
                                        <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                    </ion-col>

                                    <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                        <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                    </ion-col>

                                    <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                        <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                        <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                        <div>Από kiki</div>
                                        <div>πριν απο 1 ώρα</div>
                                        <div class="post-number"> 422.797 αναρτήσεις</div>
                                    </ion-col>
                                </ion-row>
                            </button>
                            <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                <ion-row justify-content-start>

                                    <ion-col col-1 style="max-width:5%;">
                                        <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                    </ion-col>

                                    <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                        <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                    </ion-col>

                                    <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                        <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                        <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                        <div>Από kiki</div>
                                        <div>πριν απο 1 ώρα</div>
                                        <div class="post-number"> 422.797 αναρτήσεις</div>
                                    </ion-col>
                                </ion-row>
                            </button>

                        </ion-col>
                    </ion-row>

                        <!-- section 2 -->
                    <ion-row>
                            <ion-col col-12 class="section-container">
                                <ion-col col-12 align-self-center>
                                    <div class="section-header">ΠΡΙΝ ΚΑΙ ΜΕΤΑ ΤΗΝ ΕΓΚΥΜΟΣΥΝΗ</div>
                                </ion-col>
    
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
    
                            </ion-col>
                        </ion-row>


                        <!-- section 3 -->
                        
                    <ion-row>
                            <ion-col col-12 class="section-container">
                                <ion-col col-12 align-self-center>
                                    <div class="section-header">ΕΓΚΥΜΟΣΥΝΗ-ΤΟΚΕΤΟΣ-ΛΟΧΕΙΑ</div>
                                </ion-col>
    
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
    
                            </ion-col>
                        </ion-row>


                        <!-- section 4 -->


                        
                    <ion-row>
                            <ion-col col-12 class="section-container">
                                <ion-col col-12 align-self-center>
                                    <div class="section-header">ΟΛΕΣ ΕΜΕΙΣ ΟΙ ΜΑΜΑΔΕΣ</div>
                                </ion-col>
    
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
                                <button ion-item no-lines class="mama" (click)="goToForumSectionPage()">
                                    <ion-row justify-content-start>
    
                                        <ion-col col-1 style="max-width:5%;">
                                            <ion-icon class="chat-icon" md="md-chatbubbles"></ion-icon>
                                        </ion-col>
    
                                        <ion-col col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7 class="wrap-content section-title">
                                            <h2 class="wrap-content">Hello Μαμαμαδες αποψε έμαθα πως οταν νερdddddddddddddddddddθειοσ</h2>
                                        </ion-col>
    
                                        <ion-col col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1>
                                            <img class="member-image" src="assets/icon/young-pregnant-woman-looking-at-her-belly-in-park-2.jpg">
                                        </ion-col>
                                        <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 class="wrap-content">
                                            <div class="wrap-content">Το παιδί κλαέι συνέχεια λέτε να είναι άρρωστο?</div>
                                            <div>Από kiki</div>
                                            <div>πριν απο 1 ώρα</div>
                                            <div class="post-number"> 422.797 αναρτήσεις</div>
                                        </ion-col>
                                    </ion-row>
                                </button>
    
                            </ion-col>
                        </ion-row>
                </ion-col>
            </ion-row>

        </ion-col>

        <!-- <ion-col col-3 col-sm-12 col-md-2 col-lg-2 col-xl-3>
                <iframe  class="banner" src="https://www.powr.io/plugins/media-gallery/view?unique_label=7f040595_1529260528&external_type=iframe" width="100%"  frameborder="0"></iframe>
            </ion-col> -->
    </ion-row>


</ion-content>