


forum-main-page{

    ion-content{
        font-family: "Comic Sans MS";
        font-size: 1em;
    }

.main-container-header{
    text-align: left;
    height: 1.8em;
    color: white;
    font-size: 1.5em;
}

.main-container-header-wrapper{
 background-color: #C7002E;
  border-radius: 3px;
  box-shadow: 0 2px 3px #aaa;
 -webkit-box-shadow: 0 2px 3px #aaa;
 -moz-box-shadow: 0 2px 3px #aaa;
 height: 50%;
}

.section-header{
    background-color: #C7002E;
    border-radius: 3px;
    padding: 0.4em;
    font-size: 1.3em;
    color:white;
   }

   .section-container{
    border-radius: 3px;
    box-shadow: 0 2px 3px #aaa;
   -webkit-box-shadow: 0 2px 3px #aaa;
   -moz-box-shadow: 0 2px 3px #aaa;
   height: auto;
  

   }

.add-button{
    color: white;
    font-size: 1.5em;
}

.button-image{
    padding:0.7em;
    float:right;
    border-radius: 50%;
}

.new-theme-btn{
font-weight: bold;
padding: 0.8em;
float: right;
margin:1em;
}

.mama{
    height: auto;
    border-style: solid;
    border-width:2px;
    border-color:#e8e8e8;
  //  box-shadow: 0 2px 3px #aaa;
    border-radius: 3px;
    margin:1px;
    
    background-color: #f6f2ed;
}
.mama:nth-child(even){
    background-color: white;
}

.mama:hover{
    background-color:#ff9999;
}

h2{
   text-align: left;
    display: inline-block;
}

.chat-icon{
    font-size: 1.4em;
    text-align:left;
    color:#C7002E;
    //margin-right: 3em;
}

.member-image{
    height: 3.5em;
    width:3.5em;
    float:right;
    border-radius: 50% !important;
  }

  .post-number{
      text-align: right;
  }

  .wrap-content{
      text-overflow: ellipsis;
      overflow: hidden; 
      
      white-space: nowrap;

     // margin-left: 2em;
  }

  .wrap-reverse-content{
    flex-wrap: wrap;
  }
  
  @media all and (max-width: 450px) 
  {
    .member-image{
        height: 8.5vw;
        width:9vw;
        float:right;
        
      }

      .wrap-content{
        overflow-wrap: break-word;
        overflow: visible; 
        white-space: normal;
       // margin-left: 2em;
    }

    
    ion-content{
        font-size: 1em;
    }
    

    .wrap-content{
        font-size: 0.9em;
    }

    .wrap-content h2{
        font-weight: bold;
        font-size: 1em;
        display:inline-block;
        white-space: normal;
        padding-left: 1em;
    }

    .chat-icon{
        font-size: 1.4em;
        text-align:left;

    }

    .item-inner{
        padding-right: 0px !important;
    }




}

}